<p id="notice"><%= notice %></p>

<p>
    <%= @comment.content %><br>
    User: <%= @comment.user.name %>
</p>
<% if logged_in? && current_user == @comment.user %>
    <%= link_to 'Edit', edit_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back', @comment.post %>
