<p id="notice"><%= notice %></p>

<p>
    <h3><%= @user.name %><br></h3>
    Email: <%= @user.email %>
</p>
<p>
     Blogs:
    <% @user.blogs.each do |blog| %>
    <li>
        <%= link_to blog.title, blog %>
      </li>
    <% end %>
</p>

<% if logged_in? && current_user == @user %>
    <%= link_to 'Create Blog', new_blog_path %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', root_path %>
