<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag "post[blog_id]", "#{post.blog.id}" %>
<p>
    <%= form.label :new_post %><br>
    <%= form.text_field :content %>
</p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>