<p id="notice"><%= notice %></p>

<h3><%= @category.name %></h3>
<p>
    Blogs:
    <% @category.blogs.each do |blog| %>
    <li>
        <%= link_to blog.title, blog %>
      </li>
    <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', root_path %>
